@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap);
.container {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #f5f5f4;
	border-radius: 10px;
	margin-bottom: 50px;
	height: 300px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.bold {
	font-weight: 700;
}

.container-title {
	margin-left: 50px;
	margin-right: 50px;
	font-size: 20px;
	padding-top: 32px;
}

.emails-box {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-x: scroll;
	overflow-y: auto;
	height: 96px;
	background: #FFF;
	border: 1px solid #C3C2CF;
	box-sizing: border-box;
	border-radius: 4px;
	margin: 24px 50px;
	padding: 6px;
}

.emails-box .email {
	height: 30px;
	border-radius: 100px;
	background: #dae6ff;
	display: flex;
	align-items: center;
	color: #1f1a42;
	cursor: default;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin: 2px;
	padding: 1px 3px;
}

.emails-box .email span {
	padding-left: 3px;
	padding-right: 1px;
}

.emails-box .email--invalid {
	background: #f08080;
}

.email i {
	font-size: 16px;
	color: #666;
	margin-left: 5px;
}

.emails-box input {
	font-size: 16px;
	border: 0;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	color: #1f1a42;
	flex: 1;
	padding: 5px;
}

.container button {
	background-color: #4262FF;
	color: #FFF;
	border-radius: 8px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin-right: 16px;
	height: 40px;
	padding: 8px 16px;
}

::placeholder {
	color: #C3C2CF;
}

.buttons-container {
	background-color: #FFF;
	border-radius: 0 0 8px 8px;
	padding: 28px 50px;
}

::-webkit-input-placeholder,
:-ms-input-placeholder {
	color: #c6b4cb;
}
